#header {
    height: 100px;
    width: 100%;
    background-color: aqua;
}
#main {
    display: flex;
}

 
#sidebar {
    background-color: blueviolet;
    height: 600px;
    width: 200px;
}

#content {
    background-color: rgb(130, 207, 130);
    width: calc(100% - 200px);
    
    height: 600px;
}

#footer {
    height: 100px;
    width: 100%;
    background-color: brown;

}